<div id="template-singleton-news" style="display:none;" class="singleton news parent col-xs-12 col-centered">
	<div class="singleton news card">
		<div style="position:relative;" class="top">
			<div data-editable class="date"></div>
			<a class="btn link"><i style="font-size:20px;" class="fa fa-link"></i></a>
			<div class="default btn edit"><i style="font-size:20px;" class="fa fa-pencil"></i></div>
			<div class="editing btn exit"><i style="font-size:20px;" class="fa fa-times"></i></div>
			<div class="editing btn delete"><i style="font-size:20px;" class="fa fa-trash"></i></div>
		</div><hr/>
		<div data-editable class="header" style="padding:0 5px 5px 5px;"></div><hr/>
		<div data-editable class="expanded body" style="display:none;"></div>
		<div data-editable class="location"></div>
		<hr class="expanded" style="display:none;"/><div class="expanded last-edited" style="padding:0 20px;">
			<div style="margin:0px auto;">Last Updated <span class="lst-date"></span></div>
			<div class="indicator" style="margin:0px auto;color:black;padding: 0 25px 0 15px;display:flex;flex-direction:row;align-items:center;justify-content:center;height:64px;width:260px;">
				<svg class="avatar" style="margin-right:12px;width:42px;height:42px;background-color:white;border-radius:50%;" data-jdenticon-value="test"></svg>
				<div class="content" style="display:flex;flex-direction:column;text-align:left;">
					<div class="upper" style="width:100%;font-size:14px;"></div>
					<div class="lower" style="width:100%;font-size:12px;"></div>
				</div>
			</div>
		</div>
		<div data-editable class="default btn bottom"><i class="fa fa-angle-down" style="font-size:20px;"></i></div>
		<div data-editable class="editing btn bottom"><i class="fa fa-save" style="font-size:20px;"></i></div>
	</div>
</div>
