<div id="template-singleton-pinboard" style="display:none;" class="singleton pinboard parent col-xs-12 col-md-6 col-lg-4">
	<div class="singleton pinboard card">
		<div class="top priori" style="position:relative;display:none;">
			<div class="default btn mov-left"><i style="font-size:20px;" class="fa fa-angle-left"></i></div>
			<div class="default btn add-left"><i style="font-size:20px;" class="fa fa-plus"></i></div>
			<div class="default btn edit"><i style="font-size:20px;" class="fa fa-pencil"></i></div>
			<div class="default btn add-right"><i style="font-size:20px;" class="fa fa-plus"></i></div>
			<div class="default btn mov-right"><i style="font-size:20px;" class="fa fa-angle-right"></i></div>
			<div class="editing btn exit"><i style="font-size:20px;" class="fa fa-times"></i></div>
			<div class="editing btn delete"><i style="font-size:20px;" class="fa fa-trash"></i></div>
		</div>
		<hr class="priori" style="display: none;"/>
		<div data-editable class="header" style="padding-bottom:5px;"></div><hr class="expanded" style="display:none;"/>
		<div data-editable class="expanded body" style="display:none;"></div>
		<!-- <div data-editable class="location" style="padding-bottom:5px;"></div> -->
		<!-- ATLAS -->
		<div data-editable class="default btn bottom"><i class="fa fa-angle-down" style="font-size:20px;"></i></div>
		<div data-editable class="editing btn bottom"><i class="fa fa-save" style="font-size:20px;"></i></div>
	</div>
</div>